
<table id="mytable" class="display" cellspacing="0" >
  <thead>
  <tr>
    <th>SKU</th>
    <th>Item</th>
    <th>Unit of Measure</th>
    <th>To Sell</th>
  </tr>
  </thead>

  <tbody>
  <% if !@main.blank? %>
    <% @main.each do |main| %>
    <% sold = (main.shipped + main.ordered - main.adjustment)%>

    <% if !main.harvest || @forecast_value %>
      <% to_sell = main.forecast - sold %>
      <% if to_sell <= 0 %></td>
        <tr id="red">
      <% else %>
        <tr>
      <% end %>
    <% else %>
      <% to_sell = main.harvest - sold %>
      <% if to_sell <= 0 %></td>
        <tr id="red">
      <% else %>
        <tr>
      <% end %>
    <% end %>
      <td><%= main.sku %></td>
      <td><%= main.description %></td>
      <td><%= main.uom %></td>
      <td><%= to_sell %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
